    body {
        margin: 0px;
        background-color: #1f2725;
    }

    button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    .Buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

    }

    span {
        font-size: 100px;
        transition: font-size 0.3s, text-shadow 0.3s;
        display: inline-block;
        margin: 2.5rem;
        outline: none;
        border-color: transparent;
    }

    span:hover {
        font-size: 105px;
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
        outline: none;
        border-color: transparent;
        cursor: pointer;
    }



    .header {
        display: flex;
        font-size: 50px;
        height: 150px;
        align-items: center;
        justify-content: center;
        background-color: rgb(24, 20, 20);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: goldenrod;
    }


    .gamedisplay {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 10;
    }

    .userdisplay,
    .computerdisplay {
        border: 1px solid white;
        width: 150px;
        height: 250px;
        padding-left: 30px;
        font-size: 250px;
        color: white;

    }


    .names,
    .points {
        display: flex;
        color: aliceblue;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        justify-content: space-evenly;
    }

    .statement {
        display: flex;
        color: aliceblue;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        justify-content: center;
    }